* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, "Lucida Handwriting", sans-serif;
    color: aliceblue;
    background-color: white;
    text-align: center;
    margin: 40px;
}